* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: "Lora", serif;
    ;
}

header {
    background:
        linear-gradient(rgba(194, 217, 238, .5), rgba(194, 200, 255, 1.5)),
        url("./images/imgi_32_bg-hero.png");
    background-size: cover;
    background-position: center;
}

nav {
    padding: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav_1logo img {
    width: 54px;
}

.nav_1logo span {
    font-size: 2rem;
    font-weight: 600;
    color: rgb(36, 3, 15);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.nav_1logo {
    text-decoration: none;
    color: black;
    display: flex;
    align-items: center;
}

.home2 {
    list-style-type: none;
    font-size: 1.2em;
    font-weight: 400;
    color: black;
    padding: 10px 15px 10px 15px;
    border-radius: 5px;
}

.home {
    list-style-type: none;
    padding: 10px 15px 10px 15px;
    background-color: #7287e7;
    border-radius: 5px;
    color: white;
    font-weight: 600;
}

.home2:hover {
    padding: 10px 15px 10px 15px;
    border-radius: 5px;
    color: #7287E7;
    font-weight: 600;
    background-color: #E7E7E8;
}

.nav_2lists a {
    text-decoration: none;
}

.nav_2lists {
    display: flex;
    gap: .5em;
}

.nav_Resume a {
    text-decoration: none;
    font-weight: 800;
    font-size: 1.2em;
    color: white;
    padding: 10px 15px 10px 15px;
    background-color: #7287e7;
    border-radius: 5px;
}

nav .fa-bars {
    display: none;
}

.hero_sect {
    color: black;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 40px;
}

.hero_image img {
    padding-top: 12px;
    width: 460px;
    height: 560px;
    mask-image: linear-gradient(to top, transparent, black 5%);
}

.hero_text h1 {
    font-weight: 600;
    font-size: 4rem;
    padding-bottom: 30px;
}

.hero_text span {
    font-weight: 600;
    font-size: 1.4rem;
    letter-spacing: .3em;
    font-family: "Syne", sans-serif;
}

.hero_text p {
    font-weight: 600;
    font-size: 2rem;
    padding-top: 20px;
    line-height: 1.4em;
}

.hero_text div {
    border: 2px solid black;
    background-color: black;
    width: 50%;
    padding: 1px;
}


.section_down {
    text-align: center;
    padding-top: 100px;
    padding-bottom: 30px;
    margin: auto;
}

.section_down div {
    margin: auto;
    margin-bottom: 4px;
    border-top: 2px solid #3F3C4D;
    background-color: #3F3C4D;
    width: 50%;
}

.section_down p {
    color: #3F3C4D;
    line-height: 1.6em;
    font-size: 1.1em;
    margin: auto;
}

.infoimag img {
    width: 450px;
    mask-image: linear-gradient(to top, transparent, black 30%);
}

.my_info {
    padding-top: 60px;
    background-color: #C2C8FD;
    padding-left: 10px;
}

.my_info h1 {
    color: black;
    padding-bottom: 30px;
    text-align: center;
    font-size: 3em;
}

.myinfo {
    display: flex;
    justify-content: space-around;
}

.about-me {
    color: #3F3C4D;
}

.about-me h2 {
    padding-bottom: 50px;
    padding-top: 20px;
    text-decoration: underline;
}

.about-me p {
    line-height: 1.5em;
    font-size: 1.2em;
    max-width: 80ch;
    padding-bottom: 10px;
    color: #3F3C4D;
}

.years {
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: .1;
}

.years span {
    font-size: 3em;
}

.years p {
    font-size: 8rem;
}

.fa-plus {
    font-size: 3rem;
}

.experience {
    padding-top: 40px;
    background: linear-gradient(to right, #1d0c5a, #7ba799);
    background: linear-gradient(to top, transparent, #B0B7F5 80%);
    color: #3F3C4D;
    font-family: "Syne", sans-serif;
}

.experienceDiv {
    display: flex;
    justify-content: center;
    gap: 3em;
}

.exp2 div {
    padding-top: 12px;
    padding-bottom: 40px;
}

.exp2 div h3 {
    padding-bottom: 10px;
}

.eachExp h1 {
    padding-top: 20px;
    padding-bottom: 100px;
}

.experience h2 {
    margin-left: 136px;
    border-bottom: 2px solid #3F3C4D;
    width: 300px;
}

.skills {
    background-color: #8C95E6;
    color: white;
    padding: 40px;
}

.skills h2 {
    margin-left: 136px;
    border-bottom: 2px solid white;
    width: 300px;
}

.imgSkills {
    width: 50px;
    height: 50px;
}

.skills div {
    padding-left: 140px;
    padding-top: 30px;
    display: flex;
    gap: 3em;
}

.imgSAP {
    width: 100px;
    height: 60px;
}

.imgSkl:hover {
    transform: translateY(10px);
    transition: all 1s ease-in-out;
}

.service-sect {
    background-color: #F0F1F3;
    padding: 30px 0px 40px;
}

.service-sect h1 {
    font-size: 3em;
    text-align: center;
}

.research {
    width: 1100px;
    display: flex;
    gap: 2em;
    padding-left: 200px;
    padding-bottom: 20px;
}

.research div i {
    padding: 20px;
    color: #a2aaf8;
    font-size: 2em;
}

.research div p {
    font-weight: 800;
    font-size: 1.2em;
}

.finalR {
    display: block;
    padding-left: 60px;
    padding-right: 60px;
}

footer {
    padding: 12px 30px 12px 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@media(max-width: 990px) {
    .nav_2lists a {
        font-size: .9em;
    }

    .nav_Resume {
        font-size: .8em;
    }

    .infoimag {
        width: 280px;
    }

    .myinfo {
        gap: .5em
    }

    .about-me {
        padding-left: 70px;
    }

    .about-me p {
        font-size: .9em;
    }

    .years {
        font-size: 4em;
    }

    .eachExp h1 {
        padding-bottom: 80px;
    }

    footer {
        padding-left: 40px;
        padding-right: 60px;
    }
}

@media(max-width: 920px) {
    .nav_1logo img {
        width: 50px
    }

    .nav_1logo span {
        font-size: 1.3em;
    }

    .nav_2lists a {
        font-size: .8em;
    }

    .nav_2lists {
        gap: 2rem
    }

    .hero_text h1 {
        font-size: 3em;
    }

    .hero_text p {
        font-size: 1.6em;
    }

    .hero_image img {
        width: 360px;
        height: 460px;
    }

    .hero_sect {
        justify-content: space-around;
    }

    .section_down p {
        font-size: .9em;
    }

    .infoimag img {
        width: 300px
    }

    .myinfo {
        padding: 10px;
    }

    .about-me h2 {
        padding-bottom: 30px;
        padding-top: 20px;
        text-decoration: underline;
    }

    .about-me p {
        line-height: 1.3em;
        font-size: 1em;
        padding-bottom: 10px;
    }
}

@media(max-width:875px) {
    .nav_2lists {
        gap: .1em;
    }

    .nav_1logo img {
        width: 40px;
    }

    .my_info h1 {
        font-size: 2em;
    }

    .section_down p {
        width: 90%;
    }

    .about-me p {
        max-width: 56ch;
    }

    .years span {
        font-size: .7em;
    }

    .years i {
        font-size: .4em;
    }

    .experience {
        padding-left: 20px;
    }

    .myinfo {
        gap: 1em;
        padding-left: 20px;
    }

    .research {
        padding-left: 40px;
        width: 750px;
    }
}

@media(max-width: 884px) {
    .years i {
        font-size: .3em;
    }

    .years span {
        font-size: .6em;
    }

    .years p {
        font-size: .7em;
    }

    .experience h2 {
        margin-left: 60px;
    }

    .eachExp {
        padding-left: 60px;
    }

    .eachExp h1 {
        padding-bottom: 90px;
    }

    .exp2 div span {
        max-width: 10ch;
    }

    .finalR {
        padding-left: 30px;
    }
}

@media(max-width: 850px) {
    .nav_Resume a {
        font-weight: 500;
        font-size: 1em;
        padding: 5px 8px 5px 8px;
    }

    .about-me p {
        max-width: 52ch;
    }

    .about-me {
        padding-left: 10px;
    }

    .experienceDiv {
        gap: 1em;
    }

    .exp2 div {
        width: 400px;
    }

    .break2 {
        display: none;
    }

    .research {
        padding-left: 20px;
    }
}

@media(max-width: 820px) {
    .years i {
        font-size: .3em;
    }

    .about-me p {
        max-width: 48ch;
    }

    .years span {
        font-size: .6em;
    }

    .years p {
        font-size: .7em;
    }

    .myinfo {
        gap: .2em;
        justify-content: space-around;
    }

    .research {
        padding-left: 26px;
        width: 600px;
    }

    .skills h2 {
        margin-left: 80px;
    }

    .skills div {
        padding-left: 80px;
    }

    .experienceDiv {
        width: 90%
    }
}

@media(max-width: 770px) {
    .nav_Resume {
        display: none;
    }
}

@media(max-width:750px) {
    .years p {
        font-size: .5em;
    }

    .eachExp h1 {
        padding-left: 28px;
    }

    .years span {
        font-size: .5em;
    }

    .about-me p {
        max-width: 46ch;
    }

    .infoimag img {
        width: 280px;
    }

    .years i {
        font-size: .2em;
    }

    .eachExp {
        padding-left: 20px;
    }
}

@media(max-width:720px) {
    .nav_2lists {
        display: none;
    }

    .nav_Resume {
        display: none;
    }

    nav .fa-bars {
        display: block;
        color: aliceblue;
    }

    nav {
        justify-content: space-around;
    }

    .skills {
        padding: 6px;
    }

    .imgSkills {
        width: 40px;
        height: 40px;
    }

    .imgSAP {
        width: 76px;
        height: 42px;
    }
}

@media(max-width:690px) {
    .infoimag img {
        width: 260px;
    }

    .about-me {
        padding-left: 40px;
    }

    .service-sect h1 {
        font-size: 2em;
    }

    .finalR {
        padding-left: 30px;
        padding-right: 60px;
    }

    .hero_image img {
        width: 360px;
        height: 400px;
    }

    .hero_sect {
        height: 340px;
    }
}

@media(max-width:660px) {
    .hero_text h1 {
        font-size: 2.6em;
    }

    .hero_text p {
        font-size: 1.4em;
    }

    .eachExp {
        padding-left: 60px;
    }

    .eachExp h1 {
        font-size: 1.8em;
    }

    .exp2 span {
        font-size: .9em;
    }
}

@media(max-width:630px) {
    .hero_image img {
        width: 300px;
        height: 360px;
    }

    .hero_text h1 {
        font-size: 2.4rem;
    }

    .hero_text span {
        font-size: 1.1rem;
    }

    .hero_text p {
        font-size: 1.4rem;
        line-height: 1.2em;
    }

    .about-me p {
        font-size: .9em;
    }

    .years {
        font-size: 2.4em;
    }

    .research span {
        font-size: .9em;
    }

    .exp2 div {
        width: 340px;
    }

    .section_down p {
        max-width: 72ch;
    }

    .finalR {
        padding-left: 28px;
    }

    footer {
        padding-left: 60px;
    }
}

@media(max-width:600px) {
    .infoimag img {
        width: 220px;
    }

    .skills div {
        padding-left: 40px;
        gap: 2em;
    }

    .skills h2 {
        margin-left: 40px;
    }

    .research {
        padding-left: 10px;
        width: 500px;
    }

    .section_down {
        padding-left: 20px;
    }

    .experience {
        font-size: 90%;
    }

    .exp2 div {
        max-width: 40ch;
    }

    .finalR {
        padding-left: 50px;
    }
}

@media(max-width:550px) {
    .hero_text {
        width: 40%;
    }

    .hero_text p {
        font-size: .9em;
    }

    .section_down p {
        font-size: .8em;
    }
    .section_down {
        padding-left: 10px;
    }
    .my_info h1 {
        font-size: 1.6em;
    }

    .about-me h2 {
        font-size: 1.2em;
    }

    .about-me p {
        font-size: .8em;
    }

    .about-me {
        padding-left: 10px;
    }

    .reserve span {
        font-size: .8em;
    }

    .research div {
        font-size: 85%;
    }

    .service-sect h1 {
        font-size: 1.6em;
    }

    .hero_text p {
        display: none;
    }

    .hero_sect {
        gap: 20px;
        padding-bottom: 10px;
    }

    .experience {
        font-size: 80%;
    }

    .eachExp h1 {
        padding-top: 10px;
        padding-bottom: 90px;
    }

    .eachExp2 {
        padding-bottom: 20px;
    }

    .finalR {
        padding-left: 50px;
    }
}

@media(max-width:530px) {
    .finalR {
        padding-left: 20px;
    }

    .research {
        max-width: 60ch;
    }
}

@media(max-width:490px) {
    .hero_sect {
        display: block;
    }

    .hero_image img {
        padding-top: 2px;
        padding-bottom: 100px;
        width: 240px;
    }

    .hero_text span {
        font-size: .9em;
    }

    .research {
        display: block;
        max-width: 70%;
        padding-left: 30px;
        margin: auto;
    }

    .skills div {
        gap: 1em;
    }

    .section_down p {
        padding-right: 20px;
        max-width: 62ch;
    }
    .section_down{
        padding-top: 110px;
    }
}

@media(max-width: 492px) {
    .my_info h1 {
        padding-bottom: 10px;
    }

    .my_info {
        padding-top: 40px;
    }

    .about-me h2 {
        padding-bottom: 5px;
    }


    .experience {
        padding-left: 2px;
    }

    .exp2 div {
        width: 90%;
        padding-left: 10px;
    }

    .eachExp h1 {
        padding-bottom: 140px;
    }

    .eachExp .exp {
        padding-bottom: 110px;
    }
}

@media(max-width:480px) {
    .eachExp h1 {
        padding-bottom: 138px;
    }

    .eachExp .exp {
        padding-bottom: 114px;
    }
}

@media(max-width:470px) {
    .infoimag img {
        width: 180px;
    }

    .about-me p {
        max-width: 50ch;
        font-size: .7em;
        padding-bottom: 10px;
    }
}

@media(max-width:450px) {
    .eachExp h1 {
        padding-bottom: 146px;
        font-size: 1em;
    }

    .eachExp .exp {
        padding-bottom: 130px;
    }

    footer {
        padding-left: 20px;
        padding-right: 30px;
    }
}

@media(max-width:440px) {
    .eachExp h1 {
        padding-bottom: 166px;
    }
    .infoimag img {
        width: 150px;
    }
}
@media(max-width:410px) {
.eachExp h1 {
        padding-bottom: 180px;
    }
}

@media(max-width:399px) {
    .section_down {
        padding-top: 130px
    }

    .eachExp {
        padding-left: 10px;
    }
}

@media(max-width:390px) {
    .infoimag img {
        width: 150px;
    }

    .myinfo {
        display: block;
        margin-left: 20px;
    }

    .about-me p {
        max-width: 70ch;
    }

    .eachExp h1 {
        padding-bottom: 150px;
    }

    .experience h2 {
        padding-left: 30px;
        border-bottom: 20%;
    }

    .reserve {
        font-size: .9em;
    }

    .skills h2 {
        padding-left: 2px;
        font-size: 1.2em;
    }

    .imgSkl {
        width: 30px;
        height: 30px;
    }

    .experience h2 {
        width: 280px;
    }
}

@media(max-width:387px) {
    .exp2 div {
        padding-bottom: 10px;
    }

    .eachExp .exp {
        padding-bottom: 110px;
    }

    .experience h2 {
        margin-left: 10px;
    }
}

@media(max-width:370px) {
    .eachExp h1 {
        padding-bottom: 150px;
    }

    .exp2 div {
        padding-bottom: 20px;
    }

    footer div a img {
        width: 24px;
    }
}
@media(max-width:355px) {
    .eachExp h1 {
        padding-bottom: 160px;
    }
}
@media(max-width:345px) {
    .reserve span {
        font-size: .7em;
    }
}

@media(max-width:333px) {
    .eachExp .exp {
        padding-top: 40px;
    }

    footer {
        padding-right: 10px;
    }
}